.card-title {
    margin-bottom: .5rem;
}

.firstBtn {
    margin-right: 8px;
}

.btn-primary {
    background-color: #4285f4;
    border-color: #4285f4;
}

.btn-danger {
    background-color: #ea4335;
    border-color: #ea4335;
}

@media screen and (max-width: 991px) {
    .firstBtn {
        /* margin-right: 0; */
        /* margin-bottom: 5px; */
    }
}